@import '@fortawesome/fontawesome-free/css/all.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
     /* --background: linear-gradient(90deg, rgba(31,2,9,1) 0%, rgba(68,2,4,1) 35%, rgba(101,44,0,1) 100%); */
    /* --foreground: #ededed;  */
   
/* --background: linear-gradient(to right, #b79891, #94716b);  */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
